<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="mt-6">
    <app-input
      label="Nome do Restaurante"
      placeholder="Nome do meu restaurante"
      type="text"
      [control]="f.restaurantName"
      name="restaurantName"
      icon="fa-solid fa-circle-user"
    ></app-input>
  </div>

  <div class="mt-6">
    <app-input
      label="Telefone de Contato"
      placeholder="(XX)XXXXX-XXXX"
      type="tel"
      [control]="f.phone"
      name="phone"
      icon="fa fa-phone"
    ></app-input>
  </div>

  <div class="mt-6">
    <app-input
      label="Email"
      placeholder="example@example.com"
      type="email"
      [control]="f.email"
      name="email"
      icon="fa-solid fa-envelope"
    ></app-input>
  </div>

  <div class="mt-6">
    <app-input
      label="Senha"
      placeholder="Sua senha"
      type="password"
      [control]="f.password"
      name="password"
    ></app-input>
  </div>

  <div class="mt-6">
    <app-input
      label="Confirme sua senha"
      placeholder="Confirme sua senha"
      type="password"
      [control]="f.confirmPassword"
      name="confirmPassword"
    ></app-input>
  </div>

  <div *ngIf="form.hasError('passwordsDoNotMatch') && f.confirmPassword.touched">
    <p class="mt-2 text-sm text-red-600">As senhas não coincidem.</p>
  </div>

  <div class="mt-6">
    <button
      type="submit"
      class="w-full px-4 py-2 tracking-wide text-white transition-colors duration-200 transform bg-brand rounded-md hover:bg-[#FF5C00] cursor-pointer"
      [disabled]="form.invalid"
    >
      Entrar
    </button>
  </div>
</form>
