<div class="relative w-64 p-4 bg-gray-100 border border-gray-200 rounded-md h-80">
  <img
    src="images/logo-dishdash-rounded.png"
    alt=""
    class="mx-auto mb-4 rounded-full w-28 h-28"
  />
  <div class="mb-1.5 text-base font-bold">Escondidinho de carne de sol</div>
  <div class="text-sm font-semibold text-left">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae minus
    atque nemo magni explicabo adipisci ?
  </div>
  <app-button btnText="Editar" icon="fa-solid fa-pen" size="small" class="absolute bottom-4 right-4"></app-button>
</div>
