<div class="p-4 border-gray-200 rounded-lg">
  <div class="flex items-center justify-end">
    <app-button btnText="Novo Item" icon="fa-solid fa-plus" class="mb-2 me-2"></app-button>
  </div>
  <form [formGroup]="form" class="mb-4">
    <app-input placeholder="Busque por um item no carápio" type="text" name="searchItem" [control]="f.searchItem"
      icon="fa solid fa-magnifying-glass"></app-input>
  </form>
  <div class="flex gap-4 mb-6">
    <app-menu-category categoryLabel="Todos" [itemsCount]="56"></app-menu-category>
    <app-menu-category categoryLabel="Entradas" [itemsCount]="10"></app-menu-category>
    <app-menu-category categoryLabel="Pratos principais" [itemsCount]="12"></app-menu-category>
    <app-menu-category categoryLabel="Sobremesas" [itemsCount]="6"></app-menu-category>
    <app-menu-category categoryLabel="Drinks" [itemsCount]="18"></app-menu-category>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:md:grid-cols-3 gap-4">
    <div *ngFor="let item of menuItems" class="">
      <app-menu-item [item]="item"></app-menu-item>
    </div>
  </div>